
#myInput {
  background-image: url("../rsc/search.png");
  background-position: 3px 4px;
  background-size: 37px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#searchfield { display: block; width: 100%; text-align: center; margin-bottom: 35px; }

#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
}
#searchfield form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}
.evento{
	border-color: black;
}
.margine{
	border-style: groove;
	border-radius: 8px;
}
.nEvento {
	font-weight: bold;
	font-size: 17px;
	margin-top: 3px;
	margin-bottom: 3px;
	
}
.campo{
	    padding-left: 10px;
	}
li {
    list-style-type: none;
}
#listaUtenti{
	padding:0px;
}
.linkUtente{
	   padding-left: 0px;
	
}
.nomeCog{
	display : inline;
}
.bottom{
	margin-bottom: 10px;
}