body {
    background-image: none;
    background-color: highlight;
}

img {
    display: block;
	margin-left: auto;
    margin-right: auto;
    border:5px solid #9d9d9d;
    
}

.btnSquadra{
	
	padding: 10px 90px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}