.jumbotron {
	background-image:url('../rsc/erba.jpg');
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	color:"DodgerBlue";
}
#logo {
	height: 90px;
}
.navbar-brand{
	font-size: 30px;
}
.nav .form-inline{
	margin-top: 7px;
}
.lbl {
	color: #9d9d9d;
}
#bk{
	
}

body {
    background-image: url("../rsc/ap4.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    margin: 15px;
}