#logo {
	height: 90px;
}

.navbar-brand {
	font-size: 30px;
}

.nav .form-inline {
	margin-top: 7px;
}

.lbl {
	color: #9d9d9d;
}
.lbl:hover{
	color:#F3C45B;
}

#btnLogin {
	cursor: pointer;
}

body {
	background-image: url("../rsc/try.png");
	margin: 15px;
}

#username {
	cursor: pointer;
	margin-top: 7px;
	font-size: 16px;
}

.nav .open>a {
	border-radius: 32px;
	background-color: inherit;
}

.nav .open>a:hover {
	background-color: inherit;
}

.dropdown-menu {
	margin: -4px 0 0;
    background-color: rgb(51, 51, 51, 0.9) !important;
	border-radius: 6px;
}
.dropdown-item{
	color: #9d9d9d;
	margin-bottom: 3px;
    border-top-width: 1px;
    margin-top: 3px;
	
}
.dropdown-item:hover{
		color: white;
	
}
#btnLogout{
	cursor: pointer;
}