img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #9d9d9d;
}

#uploadImmagine {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.tabs {
	max-width: 90%;
	float: none;
	list-style: none;
	padding: 0;
	margin: 75px auto;
	border-bottom: 4px solid #ccc;
}

.tabs:after {
	content: '';
	display: table;
	clear: both;
}

.tabs input[type=radio] {
	display: none;
}

.tabs label {
	display: block;
	float: left;
	width: 33.3333%;
	color: #ccc;
	font-size: 30px;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	line-height: 2;
	cursor: pointer;
	box-shadow: inset 0 4px #ccc;
	border-bottom: 4px solid #ccc;
	-webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
	transition: all 0.5s;
}

.tabs label span {
	display: none;
}

.tabs label i {
	padding: 5px;
	margin-right: 0;
}

.tabs label:hover {
	color: #3498db;
	box-shadow: inset 0 4px #3498db;
	border-bottom: 4px solid #3498db;
}

.tab-content {
	display: none;
	width: 100%;
	float: left;
	padding: 15px;
	box-sizing: border-box;
	background-color: #ffffff;
}

.tab-content * {
	-webkit-animation: scale 0.7s ease-in-out;
	-moz-animation: scale 0.7s ease-in-out;
	animation: scale 0.7s ease-in-out;
}

@keyframes scale { 0% {
	transform: scale(0.9);
	opacity: 0;
}50%{transform:scale(1.01);
opacity:0.5;
}100%{transform:scale(1);
opacity:1;}
}
.tabs [id^="tab"]:checked+label {
	background: #FFF;
	box-shadow: inset 0 4px #3498db;
	border-bottom: 4px solid #3498db;
	color: #3498db;
}

#tab1:checked ~ #tab-content1, #tab2:checked ~ #tab-content2, #tab3:checked 
	 ~ #tab-content3 {
	display: block;
}

@media ( min-width : 768px) {
	.tabs i {
		padding: 5px;
		margin-right: 10px;
	}
	.tabs label span {
		display: inline-block;
	}
	.tabs {
		max-width: 750px;
		margin: 10px auto;
	}
}

.risultato {
	
}

.margine {
	border-style: groove;
}

.nEvento {
	font-weight: bold;
	font-size: 17px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.form-evento {
	border: 5px solid #9d9d9d;
	border-radius: 8px;
}

.evento {
	font-size: 15px;
}

.linkEvento {
	font-size: 20px;
}

.data {
	font-style: italic;
	font-size: 13px;
}

.img-circle {
	border-radius: 50%;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile+label {
	font-size: 1.25em;
	font-weight: 700;
	color: white;
	background-color: black;
	display: inline-block;
}

.inputfile:focus+label, .inputfile+label:hover {
	background-color: blue;
}

.inputfile+label {
	cursor: pointer; /* "hand" cursor */
}

.margine {
	border-style: groove;
	border-radius: 8px;
}

li {
	list-style-type: none;
}

#listaAmici {
	padding: 0px;
}

#richieste {
	padding: 0px;
}

.tabs label {
	background-color: #333;
	color: #9d9d9d;
	border-bottom: 4px solid #9d9d9d;
	box-shadow: inset 0 4px #9d9d9d;
}

.tabs {
	border-bottom: none;
}

#leftRad {
	border-radius: 10px 0px 0px 10px;
}

#rightRad {
	border-radius: 0px 10px 10px 0px;
}
.myL{
	padding:0px;
	background-color: #333 !important;
	color: #9d9d9d !important;
}
.invio{
    padding: 10px 20px;
}
#uploadImmagine{
	margin-top: 10px;
}
#imgProfilo{
	background-color: white;
}
#inviaRichiesta{
	margin-top: 10px;
}
#btnRichiesta{
	color: #3498db;
	background: #FFF;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}